<div class="full_row">
  <h2 class="page_header">Teacher Login</h2>
</div>
<div class="full_row">
  <div class="column_2">
    <%= form_for(teacher_session) do |f| %>
    	<%= render :partial => "layouts/error_block", :locals => {:object => teacher_session} %>
      <p>
        <%= f.label :username %><br />
        <%= f.text_field :username %>
      </p
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <p class="checkbox">
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      </p>
      <%= f.submit "Login", :class => "btn" %><br/>
      <div class="clear"></div>
    <% end %>
  </div>
</div>