<meta content=<%= blog.meta_description %> name="description">
<meta content=<%= blog.meta_keywords %> name="keywords">
<div class="news_listing inner_content">
  <%= image_tag(blog.assets.last.attachment.url(:thumb), :alt => blog.title) %>
  <div class="retweet_links">
    <%#= link_to "#{blog.title}", blog_path(blog), :class => "retweet vert" %>
  </div>

  <div class="listing_title">
    <%= blog.title %>
  </div>

  <div class="listing_sub_title">
    by <%= blog.author %><br/>
    <%= blog.author_title %><br/>
  </div>

  <div class="listing_time">
    Posted on: <%= (blog.created_at).to_s(:pretty) %>
  </div>
  <div class="listing_content">
    <%= markdown(blog.body) %>
  </div>
  <% if current_admin %>
    <div class="field">
      <%= link_to "Edit Post", edit_blog_path(blog) %><br />
    </div>
  <% end %>
</div>
<div class="social">
	<!-- AddThis Button BEGIN -->
	Share this post!
	<div class="addthis_toolbox addthis_default_style"
	      addthis:url="<%= blogs_url %>"
        addthis:title="<%= blog.title %>">
		<a class="addthis_button_preferred_1"></a>
		<a class="addthis_button_preferred_2"></a>
		<a class="addthis_button_preferred_3"></a>
		<a class="addthis_button_preferred_4"></a>
		<a class="addthis_button_compact"></a>
		<a class="addthis_counter addthis_bubble_style"></a>
	</div>
	<!-- AddThis Button END -->
</div>