<div class="full_row">
	<h2 class="page_header">The Reactor Core</h2>
	<% @blogs.each do |blog| %>
	<div class="top_hr bottom_hr">
		<%= image_tag(blog.assets.last.attachment.url(:small), :class => "wrapped_image") %>
		<h3>
			<%= (blog.title).titleize %>
		</h3>
		<div class="sub_title">
			<%= (blog.created_at).to_s(:table_date) %>
		</div>
		<p>
			<%= blog.body %>
		</p>
		<%= link_to "Add a Comment", new_comment_path %><br />
	</div>
</div>