<%= form_for(@classroom) do |f| %>
  <%= render :partial => 'layouts/error_block', :locals => {:object => @classroom} %>

  <div class="field">
    <%= f.label :teacher_id %><br />
    <%= f.text_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
