<%= form_for(@gameroom) do |f| %>
  	<%= render :partial => 'layouts/error_block', :locals => {:object => @gameroom} %>

  <div class="field">
    <%= f.label :game_id %><br />
    <%= f.text_field :game_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
