<p id="notice"><%= notice %></p>

<p>
	<%= image_tag(@student.assets.last.attachment.url(:small)) %>
</p>

<p>
  <b>First name:</b>
  <%= (@student.first_name).titleize %>
</p>

<p>
  <b>Last name:</b>
  <%= (@student.last_name).titleize %>
</p>

<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Username:</b>
  <%= (@student.username).titleize %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
