<% content_for :title do %>
  | Frequently Asked Questions
<% end %>
<div class="full_row inner_content">
  <h2 class="page_header">Frequently Asked Questions</h2>
  <ul>
    <li><%= link_to "What is Core Reaction?", "#faq1" %></li>
    <li><%= link_to "When will Core Reaction be available to play?", "#faq2" %></li>
    <li><%= link_to "How long does it take to play the game?", "#faq3" %></li>
    <li><%= link_to "What are the different types of professionals I can choose to be when playing Core Reaction?", "#faq4" %></li>
    <li><%= link_to "Is the game a multiplayer or single player game?", "#faq5" %></li>
    <li><%= link_to "Who should play this game?", "#faq6" %></li>
    <li><%= link_to "Does Core Reaction comply with the Children’s Online Privacy Protection Act?", "#faq7" %></li>
    <li><%= link_to "Why is the EnergySolutions Foundation creating this game?", "#faq8" %></li>
    <li><%= link_to "How much does it cost to play Core Reaction?", "#faq9" %></li>
    <li><%= link_to "What resources will be available to teachers using Core Reaction in their classroom?", "#faq10" %></li>
    <li><%= link_to "Why should teachers use valuable classroom time to have students play a game?", "#faq11" %></li>
    <li><%= link_to "Are there opportunities for teachers to become involved in the game’s development?", "#faq12" %></li>
    <li><%= link_to "Are there opportunities for nuclear energy industry professionals to get involved in the game’s development?", "#faq13" %></li>
    <li><%= link_to "Why is the nuclear industry facing a workforce shortage?", "#faq14" %></li>
    <li><%= link_to "What kinds of jobs are available in the nuclear industry?", "#faq15" %></li>
    <li><%= link_to "How many people does the nuclear industry need to hire?", "#faq16" %></li>
    <li><%= link_to "What are some of the benefits to working in the nuclear energy industry?", "#faq17" %></li>
    <li><%= link_to "What kind of computer system do i need to play Core Reaction?", "#faq18" %></li>
  </ul>
  <p>
    <ol id="faqs">
      <li>
        <h4 id="faq1">What is Core Reaction?</h4>
        <p>
          Core Reaction is an engaging, story-based game that lets middle school students explore careers in nuclear energy – while at the same time, providing them with a meaningful learning experience aligned with National Science Education Standards.
        </p>
      </li>
      <li>
        <h4 id="faq2">When will Core Reaction be available to play?</h4>
        <p>
          Spring 2013
        </p>
      </li>
      <li>
        <h4 id="faq3">How long does it take to play the game?</h4>
        <p>
          It takes approximately 18 minutes to play the game once, from the perspective of one nuclear professional at the facility. For a more comprehensive experience, students have the option to play the game multiple times, and experience each of the five different roles.
        </p>
      </li>
      <li>
        <h4 id="faq4">What are the different types of professionals I can choose to be when playing Core Reaction?</h4>
        <p>
          Fuel Supply Manager<br/>
          Reactor Operator<br/>
          Public Relations and Power Controller<br/>
          Engineer and Nuclear Technician<br/>
          Used Fuel Handler
        </p>
      </li>
      <li>
        <h4 id="faq5">Is the game a multiplayer or single player game?</h4>
        <p>
          Both! The game has multi-player and single-player game features, so that an entire class, a small study group or a single student can play.
        </p>
      </li>
      <li>
        <h4 id="faq6">What is Core Reaction?</h4>
        <p>
          Core Reaction is an engaging, story-based game that lets middle school students explore careers in nuclear energy – while at the same time, providing them with a meaningful learning experience aligned with National Science Education Standards.
        </p>
      </li>
      <li>
        <h4 id="faq1">Who should play this game?</h4>
        <p>
          Everyone! The science content for Core Reaction is specifically designed to meet National Science Education Standards for 6th through 8th graders. However, Core Reaction is an excellent tool for older students, younger students and even adults who are interested in learning more about the nuclear fuel cycle.
        </p>
      </li>
      <li>
        <h4 id="faq7">Does Core Reaction comply with the Children’s Online Privacy Protection Act?</h4>
        <p>
          Yes, in keeping with the Children's Online Privacy Protection Act, EnergySolutions Foundation will not request any information that would compromise a student and does not share individual student names or data with third parties.
        </p>
      </li>
      <li>
        <h4 id="faq8">Why is the EnergySolutions Foundation creating this game?</h4>
        <p>
          The EnergySolutions Foundation is committed to promoting math, science, and engineering education. Core Reaction allows students to gain an improved understanding of the real-world application of science concepts. And, with one-third of the nuclear energy workforce approaching retirement, the EnergySolutions Foundation wants to make sure students are aware of the wide range of careers available to them in the nuclear industry.<sup><%= link_to "1", "#sup1" %></sup> While students may not have the opportunity to job shadow a nuclear energy industry professional, like a reactor operator or used fuel hander, they can develop a better understanding of careers in the nuclear energy industry by playing Core Reaction.
        </p>
      </li>
      <li>
        <h4 id="faq9">How much does it cost to play Core Reaction?</h4>
        <p>
          Core Reaction is free, thanks to the support of the EnergySolutions Foundation and our sponsoring partners who are also committed to promoting math, science and engineering education and career exploration in the nuclear energy industry.
        </p>
      </li>
      <li>
        <h4 id="faq10">What resources will be available to teachers using Core Reaction in their classroom?</h4>
        <p>
          A teacher start-up guide, along with supplemental activities and resources will be provided online. An additional built-in assessment will help teachers measure student knowledge.
        </p>
      </li>
      <li>
        <h4 id="faq11">Why should teachers use valuable classroom time to have students play a game?</h4>
        <p>
          Core Reaction is a fun and engaging way to support and supplement your existing science curriculum while introducing students to career opportunities. Research regarding online science games found that students showed significant knowledge gains after as little as 30 minutes of exposure to the game.<sup><%= link_to "2", "#sup2" %></sup> . And, our built-in assessment makes it easy to evaluate your students’ knowledge gains.
        </p>
        <p>
          Core Reaction also introduces students to a wide range of career opportunities in a growing industry that most students know very little of. Core Reaction has the potential to motivate students to pursue STEM careers and spark interest in working in the nuclear energy industry.
        </p>
      </li>
      <li>
        <h4 id="faq12">Are there opportunities for teachers to become involved in the game’s development?</h4>
        <p>
          Yes! The Core Reaction team is currently looking for 6th through 8th grade science teachers and classes who are interested in the program, to help during and after development in testing content, game play, and the program’s impact. <%= link_to "Contact", contact_path %> the EnergySolutions Foundation to learn more about getting involved in this project.
        </p>
      </li>
      <li>
        <h4 id="faq13">Are there opportunities for nuclear energy industry professionals to get involved in the game’s development?</h4>
        <p>
          As this exciting project develops, we are inviting all members of the nuclear energy industry to participate in this incredible workforce-development initiative. <%= link_to "Contact", contact_path %> the EnergySolutions Foundation today to learn more about how you can be involved as a sponsor, supporter or help promote the program!
        </p>
      </li>
      <li>
        <h4 id="faq14">Why is the nuclear industry facing a workforce shortage?</h4>
        <p>
          There are two main causes for the industry’s workforce shortage. First, by 2016 38% of the
          industry’s workforce will be eligible to retire.<sup><%= link_to "3", "#sup3" %></sup> Second, personnel are needed to operate both the older fleet of reactors with recently renewed licenses as well as new reactors being built. More than half of the United States’ 104 reactors have renewed their licenses and will continue to operate for at least another 20 years.<sup><%= link_to "4", "#sup4" %></sup> In addition, plans are in place to build 30 new reactors across the country. Each new power plant creates between 400 and 700 permanent jobs in plant operations, and between 1,400 and 1,800 positions during construction.
        </p>
      </li>
      <li>
        <h4 id="faq15">What kinds of jobs are available in the nuclear industry?</h4>
        <p>
        The nuclear industry hires more than nuclear engineers. Nuclear power plants are complex industrial facilities that require all types of engineers, technicians, operators, security guards, lawyers, accountants and human resource professionals. There are positions available for high school graduates through PhD’s.<sup><%= link_to "5", "#sup5" %></sup>
        </p>
      </li>
      <li>
        <h4 id="faq16">How many people does the nuclear industry need to hire?</h4>
        <p>
          Just to maintain the current work force, the industry will need to hire approximately 25,000 more workers by 2015.<sup><%= link_to "6", "#sup6" %></sup>
        </p>
      </li>
      <li>
        <h4 id="faq17">What are some of the benefits to working in the nuclear energy industry?</h4>
        <p>
          Careers in nuclear energy are rewarding, financially sound, and safe. Nuclear energy provides 20 percent of U.S electricity, powering factories, homes, and schools. Nuclear plants pay their workers approximately 36 percent more than average salaries in the local area. The median salary for a mechanical technician is $66,581; an electrical technician is $67,571; and for a reactor operator, $77,782.<sup><%= link_to "7", "#sup7" %></sup> The U.S. Bureau of Labor Statistics indicates that it is safer to work at a nuclear plant than at a fast food restaurant, a grocery store or in real estate.<sup><%= link_to "8", "#sup8" %></sup>
        </p>
      </li>
      <li>
        <h4 id="faq18">What are some of the benefits to working in the nuclear energy industry?</h4>
        <p>
          Core Reaction is being developed using modern web application tools including HTML5 CSS3 and Javascript. To ensure the best possible experience you'll need a computer that has a broadband connection, and a web browser that supports these modern technologies like Firefox 4/5, Safari 5.x, Chrome, or Opera. These browsers can ben run on Windows XP/7, Mac OSX, or Ubuntu. Currently IE is not fully supported because there browser engine does not support these modern development tools. Also, Core Reaction can also be played on mobile devices that support these specifications as well. iDevices and Android devices. 
        </p>
      </li>
    </ol>
  </p>
</div>
<div class="full_row inner_content credits_box">
  <div id="sup1" class="credit"><sup>1</sup> 
    <%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/ nuclearindustrydevelopsworkforce/", :target => "_blank" %>
  </div>
  <div id="sup2" class="credit"><sup>2</sup> 
    Leslie M. Miller, Jannette Moreno, Vicky Estrera, and David Lane. “Efficacy of MedMyst: an Internet Teaching Tool for Middle School Microbiology.” American Society for Microbiology 5 (May 2004)13-20.
  </div>
  <div id="sup3" class="credit"><sup>3</sup> 
    <%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/ nuclearindustrydevelopsworkforce/", :target => "_blank" %>
  </div>
  <div id="sup4" class="credit"><sup>4</sup> 
    <%= link_to "Nuclear Energy Institute: U.S. Nuclear License Renewal Filings", "http://nei.org/resourcesandstats/documentlibrary/reliableandaffordableenergy/graphicsandcharts/ usnuclearlicenserenewalfilings/", :target => "_blank" %>
  </div>
  <div id="sup5" class="credit"><sup>5</sup> 
    <%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/ nuclearindustrydevelopsworkforce/", :target => "_blank" %>
  </div>
  <div id="sup6" class="credit"><sup>6</sup> 
    <%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/ nuclearindustrydevelopsworkforce/", :target => "_blank" %>
  </div>
  <div id="sup7" class="credit"><sup>7</sup> 
    <%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/ nuclearindustrydevelopsworkforce/", :target => "_blank" %>
  </div>
  <div id="sup8" class="credit"><sup>8</sup> 
    <%= link_to "U.S Bureau of Labor Statistics quoted in Nuclear Energy Institute: Myths & Facts About Safety", " http://www.nei.org/newsandevents/nei-backgrounders/myths--facts-about-nuclear-energy/myths--facts- about-safety/", :target => "_blank" %>
  </div>
  
</div>

