<% content_for :title do %>
  
<% end %>

<% content_for :banner do %>
  <div id="banner" class="full_row no_top">
    <%= render :partial => 'banner_edges' %>
  	<div id="slider" class="index_banner">
      <div class="scroll">
        <div class="scrollContainer">
          <%= render :partial => 'pages/index_banner_3', :locals => {:banner_id => "3"} %>
          <%= render :partial => 'pages/index_banner_2', :locals => {:banner_id => "2"} %>
          <%= render :partial => 'pages/index_banner_1', :locals => {:banner_id => "1"} %>
        </div>
      </div>
    </div>
    <!-- Banner Nav -->
    <div id="banner_nav" class="content_bottom">
      <ul>
        <li><%= link_to "banner3", "#banner_3" %></li>
        <li><%= link_to "banner2", "#banner_2" %></li>
        <li><%= link_to "banner1", "#banner_1" %></li>
      </ul>
    </div>
  </div>
<% end %>

<div class="full_row">
  <div class="column_1 column_left inner_content">
    <div class="cta_row cta_row_stacked go_link right">
      <%= image_tag("notify.png") %>
      <%= link_to "Keep Notified", contact_path, :class => "cta_button" %>
    </div>
	  <h2 class="page_header page_header_with_cta">Keep Notified</h2>
		<p class="large_bottom_margin">
		  We expect <span class="bold">Core Reaction</span> to be available for free online game play Spring 2013. Be one of the first to play <span class="bold">Core Reaction</span>. Parents and teachers are invited to sign up today to be notified when the game goes live.
		</p>
    <div class="cta_row cta_row_stacked go_link right">
      <%= image_tag("go.png") %>
      <%= link_to "Get Involved Today", contact_path, :class => "cta_button" %>
    </div>
	  <h2 class="page_header page_header_with_cta">Get Involved</h2>
		<p class="large_bottom_margin">
		  If you are a <span class="bold">nuclear energy professional</span> who is passionate about your work or a middle school science teacher committed to developing innovative teaching tools, we’d love to have you join the <span class="bold">Core Reaction</span> team. <span class="bold">Nuclear energy professionals</span> can serve as consultants to the game designer, help secure sponsorships and/or help promote the program. <span class="bold">Science teachers</span> (6th through 8th grade) can share their curriculum expertise and/or volunteer their classes to evaluate content, game play and program impact.
		</p>
		<div class="cta_row cta_row_stacked rss_feed right">
      <%= image_tag("feed.png") %>
      <%= link_to "Subscribe to Our Feed", blogs_url(:rss), :class => "rss_button" %>
    </div>
		<h2 class="page_header page_header_with_cta">Stay Informed</h2>
		<p>
		  Subscribe to receive the latest news about <span class="bold">Core Reaction</span> game development.
		</p>
	</div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      base.indexBanners();
      window.setInterval(function() {
       base.triggerBanner();
      }, 7000);
    });
  </script>
<% end %>
