<% content_for :title do %>
  | Nuclear Industry Professionals
<% end %>
<div class="full_row no_top inner_content">
  <div class="page_cta go_link right">
    <%= image_tag("go.png") %>
    <%= link_to "Get Started Today", contact_path, :class => "cta_button" %>
  </div>
	  <h2 id="top" class="page_header page_header_with_cta">Inspire the Next Generation</h2>
    	<p>
  	   Every kilowatt-hour of electricity created through nuclear power is the result of the efforts of you and your colleagues: a professional workforce committed to producing clean, safe, reliable, and efficient energy. While our industry is looking ahead to a bright future, there’s considerable cause for concern.<br/>
  	   The industry will need to hire approximately 25,000 workers by 2015, of which around 1,000 will be nuclear engineers.<sup><%= link_to "1", "#sup1" %></sup>  The industry will be looking for replacement workers with high school diplomas, bachelor’s, master’s, and doctorate degrees to fill vacancies in security, engineering, operations, training and other support functions.<sup><%= link_to "2", "#sup2" %></sup> 
  	  </p>
  	  <p>
  	   Just as our competing interests are consistently set aside to share safety practices, nuclear energy industry professionals can join forces to attract a robust workforce for the industry’s future. The EnergySolutions Foundation invites you to <%= link_to "get involved", contact_path %> with our efforts to address this challenge through an exciting campaign based on <span class="bold">Core Reaction.</span>
  	  </p>
</div>

<div class="full_row inner_content">
  <ul class="page_links">
   <li><%= link_to "Why is there a need for new workers?", "#section_1" %></li>
   <li><%= link_to "Why do we need to attract new workers to nuclear energy?", "#section_2" %></li>
   <li><%= link_to "What can we do through Core Reaction?", "#section_3" %></li>
   <li><%= link_to "Our Message", "#section_4" %></li>
  </ul>
</div>
	  
<div class="full_row inner_content">
  <h3 id="section_1" class="page_sub_header">Why is there a need for new workers? </h3>
  <p>
    <ul class="true_list">
    <li>38% of the nuclear industry’s workforce will be eligible to retire by 2016.<sup><%= link_to "3", "#sup3" %></sup></li>  
    <li>More than half of the 104 nuclear reactors in the United States have renewed their licenses, and are preparing to produce power for at least two more decades.<sup><%= link_to "4", "#sup4" %></sup></li>
    <li>Plans are in place to build over 30 new reactors across the country. Each new power plant creates between 400 and 700 permanent jobs in plant operations, and between 1,400 and 1,800 positions during construction.<sup><%= link_to "5", "#sup5" %></sup></li>
    </ul>
  </p>
</div>
  	
<div class="full_row inner_content">
	    <h3 id="section_2" class="page_sub_header">Why do we need to attract new workers to nuclear energy?</h3>
  	  <p>
        <ul class="true_list">
          <li>According to the U.S. Department of Labor, "Stereotyping of energy careers as unstable, dangerous, and low-skilled causes qualified workers, especially youth, to be unaware of the many highly skilled, well-paying career opportunities the industry offers."<sup><%= link_to "6", "#sup6" %></sup></li>  
          <li>Engineers comprise a small, but critically important, sector of the nuclear energy workforce. Yet the National Academy of Engineering and the National Research Council report that "many students who are capable of becoming engineers never even enter the educational pipeline leading to an engineering career because they either do not understand what engineers do or they believe that they do not have the necessary aptitude or interests to become engineers."<sup><%= link_to "7", "#sup7" %></sup></li>
          <li>
            Students believe the nuclear energy industry only hires nuclear engineers, and do not realize the wide range of technical and administrative positions available within the field.<sup><%= link_to "8", "#sup8" %></sup>
          </li>
          <li>
            A strong background in math and science is required in almost every position within the nuclear energy field – many companies even have specific math and science requirements for high school graduates taking the pre-employment test.<sup><%= link_to "9", "#sup9" %></sup>  Yet in 2006, the National Center for Education Statistics reported that less than one-third of 4th-grade and 8th-grade students in the U.S. performed at or above a “proficient” level in math. Meanwhile, about one-third of the 4th-grade students and one-fifth of the 8th-grade students did not have the ability to perform even basic mathematical computations.<sup><%= link_to "10", "#sup10" %></sup>
          </li>
        </ul>
  	  </p>
  	</div>

<div class="full_row inner_content">
  <h3 id="section_3" class="page_sub_header">What can we do through Core Reaction?</h3>
  <p>
   <span class="bold">Core Reaction</span> is an engaging, multiplayer, role-playing game experience at a nuclear power plant.  The easy-to-use online gaming platform presents middle-school students with a fun and exciting opportunity to “experience” a career in nuclear power, while practicing critical science concepts aligned within their classroom curriculum.
  </p>
  <p>
    The idea to create <span class="bold">Core Reaction</span> came about as the EnergySolutions Foundation was exploring ways to inspire today’s students about careers in nuclear energy. As this exciting project develops, we are inviting all members of the nuclear energy industry to participate in this incredible workforce-development initiative. <%= link_to "Contact", contact_path %> the EnergySolutions Foundation today to learn more about how you can be involved as a sponsor, supporter or to help promote and distribute the program!
  </p>
</div>

<div class="full_row inner_content">
  <h3 id="section_4" class="page_sub_header">Our Message</h3>
  <ol>
    <li>Students seeking a good income can find it in the nuclear energy industry.<sup><%= link_to "11", "#sup11" %></sup> The nuclear energy industry provides a variety of job opportunities for both high school and college graduates.<sup><%= link_to "12", "#sup12" %></sup></li>
    <li>Nuclear energy is clean, safe, reliable, and efficient.<sup><%= link_to "13", "#sup13" %></sup></li>
    <li>While introducing students to the wide range of career opportunities in nuclear energy, <span class="bold">Core Reaction</span> will provide students with a meaningful learning experience aligned with National Science Education Standards.s</li>
  </ol>
</div>

<div class="full_row inner_content credits_box">
  <h4 class="page_sub_header">Link Credits</h4>
  <div id="sup1" class="credit"><sup>1</sup><%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/nuclearindustrydevelopsworkforce/", :target => "_blank" %></div>
    <div id="sup2" class="credit"><sup>2</sup><%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/nuclearindustrydevelopsworkforce/", :target => "_blank" %> </div>
    <div id="sup3" class="credit"><sup>3</sup><%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/nuclearindustrydevelopsworkforce/", :target => "_blank" %> </div>
    <div id="sup4" class="credit"><sup>4</sup><%= link_to "Nuclear Energy Institute: U.S. Nuclear License Renewal Filings", "http://nei.org/resourcesandstats/documentlibrary/reliableandaffordableenergy/graphicsandcharts/usnuclearlicenserenewalfilings/", :target => "_blank" %> </div>
    <div id="sup5" class="credit"><sup>5</sup><%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/nuclearindustrydevelopsworkforce/", :target => "_blank" %> </div>
    <div id="sup6" class="credit"><sup>6</sup><%= link_to "The U.S. Department of Labor Employment and Training Administration: Identifying and Addressing Workforce Challenges in America’s Energy Industry", " http://www.getintoenergy.com/indiana/Dept%20of%20Energy%20Report.pdf" %> </div>
    <div id="sup7" class="credit"><sup>7</sup><%= link_to "National Academy of Engineering: Understanding the Status and Improving the Prospects", "http://books.nap.edu/openbook.php?record_id=12635&page=56", :target => "_blank" %> </div>
    <div id="sup8" class="credit"><sup>8</sup><%= link_to "Power–Gen Worldwide: Nuclear Workforce: Refueling for a New Generation", "http://www.powergenworldwide.com/index/display/articledisplay/4752176284/articles/power-engineering/volume-115/issue-6/features/nuclear-workforce-refueling-for-a-new-generation.html", :target => "_blank" %> </div>
    <div id="sup9" class="credit"><sup>9</sup><%= link_to "Center for Energy Workforce Development: Frequently Asked Questions", "http://cewd.org/parents_faq.asp", :target => "_blank" %> </div>
    <div id="sup10" class="credit"><sup>10</sup><%= link_to "Committee on Science, Engineering, and Public Policy: Rising Above the Gathering Storm: Energizing and Employing America for a Brighter Economic Future", " http://books.nap.edu/openbook.php?record_id=11463&page=15#p20012ecb8940019005", :target => "_blank" %> </div>
    <div id="sup11" class="credit"><sup>11</sup><%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/nuclearindustrydevelopsworkforce/", :target => "_blank" %> </div>
    <div id="sup12" class="credit"><sup>12</sup><%= link_to "Nuclear Energy Institute: Nuclear Industry's Comprehensive Approach Develops Skilled Work Force for the Future", "http://www.nei.org/resourcesandstats/documentlibrary/newplants/factsheet/nuclearindustrydevelopsworkforce/", :target => "_blank" %> </div>
    <div id="sup13" class="credit"><sup>13</sup><%= link_to "Nuclear Energy Institute: Top Ten Reasons Nuclear Power is Vital to America’s Energy Policy", "http://www.nei.org/filefolder/top_10_reasons_to_support_nuclear.pdf" %> </div>
</div>
<div class="full_row inner_content">
  <ul class="page_links">
   <li><%= link_to "Back to Top", "#top" %></li>
  </ul>
</div>