<p id="notice"><%= notice %></p>

<p>
	<%= image_tag(@teacher.assets.last.attachment.url(:small)) %>
</p>

<p>
  <b>First name:</b>
  <%= (@teacher.first_name).titleize %>
</p>

<p>
  <b>Last name:</b>
  <%= (@teacher.last_name).titleize %>
</p>

<p>
  <b>Email:</b>
  <%= @teacher.email %>
</p>

<p>
  <b>Username:</b>
  <%= (@teacher.username).titleize %>
</p>


<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
