<div class="footer_nav clearfix">
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Link", "" %></li>
		<li><%= link_to "Link", "" %></li>
		<li><%= link_to "Link", "" %></li>
		<li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
		<li><%= link_to "Privacy Policy", privacy_path %></li>
		<li><%= link_to "FAQ", faq_path %></li>
		<li><%= link_to "Terms of Service", terms_path %></li>
	</ul>
	<%= render :partial => 'layouts/c2link' %>
</div>