<div id="main_nav" class="main_nav">
	<ul class="left_nav nav_ul">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Teachers", "" %></li>
		<li><%= link_to "Blog", blogs_path %></li>
	</ul>
	<ul class="right_nav nav_ul">
		<li><%= link_to "Students", "" %></li>
		<li><%= link_to "Careers", "" %></li>
		<li><%= link_to "Game", "" %></li>
	</ul>
</div>