<div id="main_nav" class="main_nav">
	<ul class="left_nav nav_ul">
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Teachers", teachers_path %></li>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
	</ul>
	<ul class="right_nav nav_ul">
		<li><%= link_to "Reaction News", blogs_path %></li>
		<li><%= link_to "Nuclear Industry Professionals", nip_path %></li>
	</ul>
</div>