<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <%= render :partial => "layouts/headmeta" %>
</head>
<body>
  <div id="mast_header"></div>
  <!-- Application Layout -->
  <div id="wrapper">
    <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
  	<header>
    	<%= render :partial => "layouts/header" %>
    	<div class="clear"></div>
    </header>
    <div id="bd">
      <%= yield :banner %>
      <div id="content">
        <div class="content_edge content_edge_tl"></div>
        <div class="content_edge content_edge_tr"></div>
        <div class="content_edge content_edge_bl"></div>
        <div class="content_edge content_edge_br"></div>
        <%= yield %>
        <div id="content_disclaimer">
          <%= render :partial => "layouts/content_disclaimer" %>
        </div>
        <div class="clear"></div>
      </div>
      <div class="content_bottom"></div>
      <div class="clear"></div>
    </div>
    <div id="sub_boxes" class="clearfix">
      <%= yield :sub_boxes %>
    </div>
    <footer>
      <div class="content_edge content_edge_tl"></div>
      <div class="content_edge content_edge_tr"></div>
      <%= render :partial => "layouts/footer" %>
      <div class="clear"></div>
    </footer>
    <div class="clear"></div>
  </div>
	<%= render :partial => "layouts/scripts" %>
</body>
</html>
